<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sender</title>
    <head>
        <title>File Input Example</title>
        <style>
        </style>
    </head>
    <body>
        <div class="file-input">
            <form action="/sent" method="post" enctype="multipart/form-data">
                <input type="text" name="name" placeholder="short description of the file"> <br>
                <input type="text" name="receiver" placeholder=" the recipient's alias (optional)"><br>
                <input type="number" name="cost" placeholder="file's worth"><br>
                <input type="text" name="payment_method" placeholder="choose payment method"><br>
                <input type="file" name="file" id="" placeholder="Enter your file"><br>
                <button type="submit">upload</button>         
            </form>
        </div>
        <br>
        <div>
            <!-- register form -->
            <form action="" method="post">
                <input type="text" name="alias" placeholder="enter your alias"><br>
                <input type="password" name="password" placeholder="enter your password"><br>
                <button type="submit">register</button>
            </form>
        </div>
    </body>
</html>